<%- layout('layouts/template') %>
<div class="container-fluid">

    <div class="row text-center">
        <div class="col-12">
            <h1>Manage Postings</h1>
        </div>
    </div>

    <div class="row">
        <!--leave the first column blank-->
        <div class="col-lg-1"></div>
        <div class="col-lg-2">
            <!--SIDEBAR-->
            <%- include('../../partials/sidebarAdmin')%>
            <!-- log out button -->
            <form action="/logout" method="POST" class="my-2">
                <button class="btn btn-primary">Sign Out</button>
            </form>
        </div>


        <div class="col-lg-8" id="text-back">
            <!-- SEARCH BAR -->
            <%- include('../../partials/search') %>


            <div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="/admin/posting/add" class="btn btn-warning">Add Posting</a>
                    </li>

                    <% for (aPosting of postings){ %>
                    <li class="list-group-item">
                        <div>
                            <a href="/admin/posting/<%= aPosting._id %>" class="h2"><%= aPosting.position %></a>
                        </div>

                        <div>
                            <%= aPosting.startDate %><span>&emsp;</span><%= aPosting.endDate %>
                        </div>

                        <div>
                            <span class="badge badge-secondary"><%= aPosting.type %></span>
                        </div>
                        <div>
                            <%- aPosting.logistics %>
                        </div>
                        <div class="my-2">
                            <form action="/admin/posting/<%= aPosting._id%>/edit" class="d-inline" method="GET">
                                <button class="btn btn-primary">Edit</button>
                            </form>
                            <form action="/admin/posting/<%= aPosting._id%>?_method=DELETE" class="d-inline ml-1" method="POST">
                                <button class="btn btn-danger">Delete</button>
                            </form>
                        </div>

                    </li>
                    <% } %>
                </ul>
                <form action="/admin" method="GET"><button class="btn btn-dark mt-3">Back</button></form>

            </div>
        </div>
        <!--leave the last column blank-->
        <div class="col-lg-1"></div>
    </div>
</div>