<%- layout('./layouts/template') %>
<h1><%= news.title %> </h1>
<div><%= news.date %> </div>
<div><%= news.time %> </div>
<div><%- news.logistics %> </div> 
<div><%- news.description %> </div>
<div><a href="/news">All News</a></div>
